# Database Connections
AUTH_DATABASE_URL=postgres://postgres:root@localhost:5432/auth_db
QUIZ_DATABASE_URL=postgres://postgres:root@localhost:5432/quiz_db
TAXONOMY_DATABASE_URL=postgres://postgres:root@localhost:5432/taxonomy_db

# Security & JWT Tokens
JWT_SECRET=
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

# Service Ports (Bắt buộc cấu hình trong .env - Không sử dụng hardcoded fallback)
QUIZ_PORT=3000
AUTH_PORT=3001
TAXONOMY_PORT=3002
