ASSESSMENT_DATABASE_URL=
ASSESSMENT_PORT=
ATTEMPT_DATABASE_URL=
ATTEMPT_PORT=
AUTH_DATABASE_URL=
AUTH_PORT=
EXAM_DATABASE_URL=
EXAM_PORT=
GATEWAY_PORT=
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_SECRET=
QUESTION_DATABASE_URL=
QUESTION_PORT=
TAXONOMY_DATABASE_URL=
TAXONOMY_PORT=